.sidebar {
  height: calc(100vh - 80px); /* Adjust height to account for navbar */
}

.main-content {
  height: calc(100vh - 80px); /* Adjust height to account for navbar */
}

.sidebar2 {
  height: calc(100vh - 80px); /* Adjust height to account for navbar */
}